@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Roboto_condensed;
    font-style: normal;
    font-weight: 400;
    src: url("RobotoCondensed-Regular.woff2") format("woff2"), url("RobotoCondensed-Regular.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Roboto_condensed;
    font-style: normal;
    font-weight: 700;
    src: url("RobotoCondensed-Bold.woff2") format("woff2"), url("RobotoCondensed-Bold.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Valencia;
    font-style: normal;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Valencia;
    font-style: italic;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Valencia;
    font-style: normal;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Valencia;
    font-style: italic;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: "PT_serif";
    font-style: normal;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: "PT_serif";
    font-style: italic;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: "PT_serif";
    font-style: normal;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: "PT_serif";
    font-style: italic;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 300;
    src: url("Mundo-Light.woff2") format("woff2"), url("Mundo-Light.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 300;
    src: url("Mundo-LightItalic.woff2") format("woff2"), url("Mundo-LightItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 400;
    src: url("Mundo-Regular.woff2") format("woff2"), url("Mundo-Regular.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 400;
    src: url("Mundo-RegularItalic.woff2") format("woff2"), url("Mundo-RegularItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 500;
    src: url("Mundo-Medium.woff2") format("woff2"), url("Mundo-Medium.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 500;
    src: url("Mundo-MediumItalic.woff2") format("woff2"), url("Mundo-MediumItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 600;
    src: url("Mundo-SemiBold.woff2") format("woff2"), url("Mundo-SemiBold.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 600;
    src: url("Mundo-SemiBoldItalic.woff2") format("woff2"), url("Mundo-SemiBoldItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 700;
    src: url("Mundo-Bold.woff2") format("woff2"), url("Mundo-Bold.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 700;
    src: url("Mundo-BoldItalic.woff2") format("woff2"), url("Mundo-BoldItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: normal;
    font-weight: 800;
    src: url("Mundo-ExtraBold.woff2") format("woff2"), url("Mundo-ExtraBold.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundo;
    font-style: italic;
    font-weight: 800;
    src: url("Mundo-ExtraBoldItalic.woff2") format("woff2"), url("Mundo-ExtraBoldItalic.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 300;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 300;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 400;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 500;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 500;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 600;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 600;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 700;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: normal;
    font-weight: 800;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}

@font-face {
    font-family: Mundotxt;
    font-style: italic;
    font-weight: 800;
    src: url("") format("woff2"), url("") format("woff");
    font-display: swap
}